body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.login-container, .dashboard-container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #555;
}

input {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

textarea {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: inherit;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.success-message,
.error-message {
  font-size: 12px;
  text-align: center;
}

.success-message {color: green;}
.error-message {color: red;}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: block;
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: relative;
}

li strong {
  font-weight: bold;
  display: block;
}

li span {
  display: block;
  margin-top: 15px;
  color: #555;
}

.deleteBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  width: auto;
}

.deleteBtn:hover {
  background-color: #c82333;
}
