# Ignore node_modules, if you ever add npm packages
node_modules/

# Ignore any MacOS system files
.DS_Store

# Ignore log files
*.log

# Ignore local server config
live_server.py

# Ignore IDE settings (adjust for your IDE if necessary)
.vscode/
.idea/
